@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimo de livros</h1>
    <p>Encontre um livro e deixe-se levar</p>
    <div>
        <img src="/img/imagemlivro.png" />
    </div>
</div>
